* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 75px;
    padding: 0 10vw 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.logo,
.header-nav ul{
    display: flex;
}

.logo {
    flex: 1;
    margin-top: 20px;
}

.header-nav {
    flex: 2;
}

.header-nav ul {
    justify-content: flex-end;
}

.header-nav li { 
    padding: 25px 10px 0px 10px;
}

.header-nav a{
    font-size: 1.3rem;
    color: #777;
    padding: 2px;
    font-weight: 400;
}

.header-nav a:hover {
    transition: 0.5s;
    color: #000;
}

.header-nav .selected {
    font-weight: 600;
    color: rgb(32, 0, 177)
}

header ul img {
    height: 20px;
}

.checkbtn {
    font-size: 30px;
    color: rgb(32, 0, 177);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1200px) {
    .header-nav li { 
        padding: 25px 5px 0px 5px;
    }
}

@media (max-width: 1090px) {
    .header-nav li { 
        padding: 40px 5px 0 5px;
    }
    .header-nav a {
        font-size: 1rem;
    }
}

@media (max-width: 910px) {

    .checkbtn {
        position: absolute;
        top: 0;
        right: 20px;
        display: block;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 75px;
        right: -120%;
        text-align: center;
        transition: all .5s;
        box-shadow: inset 0px 10px 25px rgba(0, 0, 0, 0.1), 0px -10px 5px #fff;
    }

    .header-nav a {
        font-size: 2rem;
        width: 100vw;
    }

    .header-nav ul {
        display: block;
        line-height: 3vh;
    }

    .header-nav img {
        height: 5vh;
    }

    #check:checked ~ ul {
        right: 0px;
    }
}

main {
    height: 900px;
    background-color: blue;;
}

.associar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color:rgb(250, 246, 0);
            padding: 15px 0;
        }

        .associar p {
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(25, 46, 170);
        }
        
        .associar a {
            padding: 10px;
            font-weight: bold;
            margin-left: 35px;
            color: rgb(25, 46, 170);
            background-color: #fff;
            border-radius: 10px;
            font-size: 1.5rem;
        }

        .associar a:hover {
            text-decoration: underline;
        }

        footer {
            height: 250px;
            background: rgb(25, 46, 170);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.2rem
        }

        .icons-footer, .footer-nav {
            display: flex;
            justify-content: space-around;
        }
        
        .footer-nav { 
            margin-top: 35px;
            line-height: 25px;
        }

        .icons-footer li{
            margin: auto 10px;
        }

        .icons-footer img {
            height: 65px;
        }
        
        .links-footer > li {
            font-weight: bold;
            color: white;
            text-align: center;
        }

        .links-footer  a{
            font-weight: 300;
            color: white;
        }

        .redes img {
            height: 25px;
        }

        footer p {
            font-size: 0.6rem;
            font-weight: 300;
            color: white;
            margin-bottom: 20px;
            text-align: center;
        }